.bash_logout
.cache
.histfile
.hushlogin
.local
.mozilla
.ssh
.viminfo
.Xauthority
.zcompdump
downloads
images
.gitconfig
.esd_auth
.config/pulse/
.config/compton.conf
.config/dconf
.config/gtk-3.0/
.gtkrc-2.0
.icons/
.lesshst
.pki/
repos
.bash_history
.config/google-chrome/
.config/menus
.config/mimeapps.list
.wget-hsts
build
